@model PTEC_Capstone_Project.Models.ViewModels.ReviewUsersViewModel

<section>
    <form method="post" class="search-box">
        <input type="text"
               placeholder="Search"
               name="search-by-game"
               id="search-by-game" />
        <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</section>


<section class="Superadmin-controlles">
    <h1>SuperAdmin Controls</h1>


     @foreach (var user in Model.Members)
    { 
        <section class="user">
            <p>@user.Name</p>
            <section class="buttons">
                @foreach (string role in Model.Roles)
                {
                    @if (user.Roles.Contains(role))
                    {
                        <form asp-controller="Admin" asp-action="ToggleRole" method="post">
                             <input type="hidden" name="roleName" value="@role" />
                            <input type="hidden" name="userName" value="@user.Name" />
                            <button class="add-admin-button" type="submit">Remove @role</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Admin" asp-action="ToggleRole" method="post">
                            <input type="hidden" name="roleName" value="@role" />
                            <input type="hidden" name="userName" value="@user.Name" />
                            <button class="remove-admin-button" type="submit">Add @role</button>
                        </form>
                    }
                }
                
                <button type="submit" class="ban-button">Ban User</button>
            </section>
        </section>
    } 
</section>